body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #34A0DC;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.title-block {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #383838;
    margin-top: 60px;
}
.side_blocks {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #383838;
    margin-bottom: 20px;
}

*,
* :before,
* :after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
}
h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
}
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
}

/*container*/
.container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

/*header*/
.header {
    margin: 0;
    width: 100%;
    color: #FFFFFF;
}
.header-logo {
    color: #34A0DC;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
}
.text-logo {
    display: flex;
    justify-content: center;
}
.word {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}
.image-logo {
    width: 35px;
    height: 25px;
}
.header-nav {
    margin-top: 15px;
    background-color: #8AD5FF;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}
.navigation {
    display: flex;
    text-decoration: none;
    margin-left: 50px;
    list-style: none;
}
.fire_tour {
    color: #DA3535;
}
.swiper-wrapper{
    width: 100%;
    height: 700px;
    background-size: cover;
}
.slide {
    display: flex;
    align-items: center;
}
.swiper-header {
    overflow: hidden;
    padding: 0;
    margin-left: 0;
}
.image_county_header {
    width: 100%;
    height: 100vh;
}

/*country*/
.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 130px 130px 130px;
    grid-gap: 35px;
}
.grid-text {
    position: absolute;
    top: 0;
    opacity: 0;
}
.grid-text:hover {
    position: absolute;
    top: 0;
    opacity: 1;
    transition: 0.3s;
}
.text-italia {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -10px;
    margin-top: 130px;
}
.text-chehia {
    font-size: 28px;
    margin-top: 60px;
    margin-left: 30px;
}
.text-horvatia {
    font-size: 28px;
    margin-top: 60px;
    margin-left: 10px;
}
.text-francia {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -30px;
    margin-top: 130px;
}
.text-OAE {
    font-size: 28px;
    margin-top: 60px;
    margin-left: 50px;
}
.text-chernogoria {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 10px;
}
.text-egipet {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 90px;
}
.text-anglia {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -15px;
    margin-top: 130px;
}
.text-finliandia {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 10px;
}
.text-indonesia {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 10px;
}
.text-australia {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
}
.text-grecia {
    font-size: 28px;
    margin-top: 60px;
    margin-left: 25px;
}
.text-brasilia {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    margin-left: -40px;
    margin-top: 125px;
}
.text-maldivi {
    font-size: 22px;
    margin-top: 60px;
    margin-left: 18px;
}
.text-istail {
    font-size: 28px;
    margin-top: 60px;
    margin-left: 18px;
}
.grid-container div:nth-child(1) {
    grid-row: 1 / 3;
}
.grid-container div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;

}
.grid-container div:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 3;
}
.grid-container div:nth-child(8) {
    grid-column: 4;
    grid-row: 2 / 4;
}
.grid-container div:nth-child(7) {
    grid-column: 6 / 8;
    grid-row: 1;
}
.grid-container div:nth-child(11) {
    grid-column: 1/3;
    grid-row: 3;
}
.grid-container div:nth-child(11) {
    grid-column: 1/3;
    grid-row: 3;
}
.grid-container div:nth-child(13) {
    grid-column: 7;
    grid-row: 2/4;
}
.grid-element {
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ;
    position: relative;
}
.grid-element:hover {
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.7;
}
.grid-element--chehia {
    width: 210px;
    height: 150px;
}
.grid-element--horvatia {
    width: 210px;
    height: 190px;
}
.grid-element--francia {
    width: 100%;
    height: 350px;
}
.grid-element--OAE {
    width: 100%;
    height: 150px;
}
.grid-element--chernogoria {
    width: 100%;
    height: 150px;
}
.grid-element--egipet {
    width: 100%;
    height: 180px;
}
.grid-element--anglia {
    width: 100%;
    height: 350px;
}
.grid-element--finliandia {
    width: 210px;
    height: 150px;
}
.grid-element--indonesia {
    width: 180px;
    height: 150px;
}
.grid-element--maldivi {
    width: 210px;
    height: 150px;
}
.grid-element--OAE{
    width: 210px;
    height: 150px;
}
.grid-element--australia {
    width: 100%;
    height: 180px;
}
.grid-element--grecia {
    width: 260px;
    height: 150px;
}
.grid-element--brasilia {
    width: 100%;
    height: 350px;
}

/* application */
.application {
    margin-top: 60px;
    background: #8AD5FF;
    display: flex;
    align-items: center;
    padding: 19px 140px;
}
.title-application {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
.text-application {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 50px;
}
.input-application {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
    width: auto;
    height: auto;
    margin-right: 40px;
    outline: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    padding: 10px 15px;
}
.button_application {
    background: #FFFFFF;
    width: auto;
    height: auto;
    padding: 10px 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    outline: none;
    margin-right: 10px;
}
#application_info {
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    display: none;
}
.app {
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

/*cards*/
.cards {
    display: flex;
    margin-top: 40px;
    margin-left: 175px;
}
.card-item {
    margin-right: 179px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-image {
    margin-bottom: 30px;
    width: 45px;
}

.card-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #383838;
}
.info-cards {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-indo-cards {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
}
.logo-partners {
    margin-top: 40px;
    text-align: right;
}
.logo-image{
    margin-left: 60px;
}

/*footer*/
footer {
    margin-top: 60px;
    width: 100%;
    height: 485px;
    background: rgba(196, 196, 196, 0.2);
}
.info-footer {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    color: #34A0DC;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    cursor: pointer;
}
.text-logo-footer {
    display: flex;
}
.word {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
}
.image-logo-footer {
    width: 35px;
    height: 25px;
    margin-left: 35px;
}
.contacts {
    display: flex;
    align-items: center;
    margin-top: 205px;
}
.image-contacts {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.title-info-footer {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
    margin-bottom: 20px;
}
.text-info-footer {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
    margin-top: 0;
    margin-right: 50px;
    text-decoration: none;
    cursor: pointer;
}
.text-info-footer:hover {
    text-decoration: underline;
}
.tour {
    column-count: 2;
    break-inside: avoid;
}
.docs-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-end {
    margin-top: 20px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
    text-align: center;
    border-top: 0.1px solid #383838;
}

/*Country page*/
.main_page {
    margin: 0;
}
.country {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list_country {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    column-count: 2;
    width: auto;
    height: auto;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    padding: 40px 20px;
}
.image-counry-nav {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
.country-nav {
    color: #383838;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

/* type_tour */
.side_blocks_tour {
    margin-top: 60px;
}
.type_tour {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.image_type_tour {
    width: 378px;
    height: 229px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    border-radius: 5px;
}
.grid-text-tour {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.grid-text-tour {
    position: absolute;
    top: 0;
    opacity: 1;
    transition: 0.3s;
}
.extrim_tour {
    margin-top: 18%;
    margin-left: 20%;
}
.Premium_tour {
    margin-top: 18%;
    margin-left: 35%;
}
.econom_tour {
    margin-top: 18%;
    margin-left: 25%;
}
.excurs_tour {
    margin-top: 18%;
    margin-left: 23%;
}
.family_tour {
    margin-top: 18%;
    margin-left: 32%;
}
.ski_resort_tour {
    margin-top: 18%;
    margin-left: 25%;
}

/*contact*/
.contact {
    margin-top: 60px;
}
.graphics {
    display: flex;
}
.graphic-works {
    margin-right: 100px;
}
.contacts_information {
    display: flex;
    align-items: center;
}
.number {
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.mail {
    display: flex;
    align-items: center;
}
.map {
    margin-top: 40px;
    position:relative;
    overflow:hidden;
}
.map_link {
    color:#eee;
    font-size:16px;
    position:absolute;
    top:0px;
}
.map_link2 {
    color:#eee;
    font-size:12px;
    position:absolute;
    top:14px;
}
.map_widget {
    position:relative;
    width: 1330px;
    height: 572px;
}

/*company_page*/
.company_information {
    margin-top: 60px;
}

/*gift_card*/
.gift_card {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gift_card_image {
    margin-left: 40px;
    border-radius: 5px;
    width: 830px;
    height: 525px;
}

/*credit_and_installments*/
.credit_and_installments {
    margin-top: 60px;
}

/*rewies_page*/
.reviews_form {
    margin-top: 60px;
    width: 1330px;
    height: 657px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.image_reviews {
    width: 400px;
    height: 657px;
    left: 135px;
    top: 213px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 50px;
}
.input {
    width: 360px;
    height: 50px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: rgba(196, 196, 196, 0.3);
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
}
.textarea_reviews {
    width: 771px;
    height: 222px;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: rgba(196, 196, 196, 0.3);
    outline: none;
    padding: 15px 20px;
    resize: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #383838;
}
.radio_reviews {
    margin-right: 20px;
    width: 15px;
    height: 15px;
}
.consent-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*modalForm*/
#modalForm {
    position: fixed;
    width: 950px;
    height: 610px;
    left: 327px;
    top: 100px;
    border-radius: 5px;
    z-index: 150;
    display: none;
    margin: 0 auto;
    background: #dadada;
    border: 0.2px solid #383838;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    outline: none;
    padding: 50px 79px;
}
#modalForm::-webkit-scrollbar {
    width: 0;
}
#filter {
    background-color: rgba(0, 0, 0, 0.664);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
form {
    padding: 30px 50px;
    font-size: 16px;
}
/*close*/
.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

/*list_tour*/
button {
    transform: .2s;
    cursor: pointer;
}
button:hover {
    transform: .2s;
    transform: scale(1.2);
}
div .text {
    margin-bottom: 0;
}
.list_tour {
    margin-top: 60px;
}
.text {
    margin-top: 10px;
    margin-right: 15px;
}
.card_tour {
    margin-top: 20px;
    width: 655px;
    height: 280px;
    border: 0.1px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    background: rgba(196, 196, 196, 0.2);
}
.image_tour {
    width: 270px;
    height: 280px;
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
}
.hotel {
    display: flex;
    align-items: center;
}
.extensions {
    display: flex;
    align-items: center;
    margin-top: 0;
}
.extensions_tour {
    background: rgba(138, 213, 255, 0.5);
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px 7px;
    display: flex;
    align-items: center;
}
.price {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #383838;
    margin-bottom: 10px;
}
.booking {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
    background: #8AD5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    margin-left: 180px;
}
.arrow,.arrow1,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7,.arrow8,.arrow9, .arrow10,.arrow11,.arrow12,.arrow13,.arrow14,.arrow15,.arrow16,.arrow17,.arrow18,.arrow19,
.arrow20,.arrow21,.arrow22,.arrow23,.arrow24 {
    width: 30px;
    height: 50px;
    background-image: url('../img/иконки/arrows.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 50px;
}
.back, .back1, .back2, .back3, .back4, .back5, .back6, .back7, .back8, .back9, .back10, .back11, .back12, .back13, .back14, .back15, .back16, .back17, .back18, .back19,
.back20, .back21, .back22, .back23, .back24 {
    width: 30px;
    height: 50px;
    background-image: url('../img/иконки/arrows\ 1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 50px;
}
.swiper-wrapper{
    max-width: 1340px;
}
.Country_tour {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.swiper-inner {
    overflow: hidden;
    padding: 0;
    margin-left: 0;
}
.image_county_inner {
    width: 680px;
    height: 550px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.text_country {
    margin-bottom: 60px;
}

/*Last-minute_tours*/
.fire_tour {
    color: #DA3535;
    display: flex;
    align-items: center;
}
.image-sale {
    margin: 25px;
    height: 25px;
    margin-left: 10px;
}
.fire_tour-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.place-flex {
    display: flex;
    align-items: center;
}
.price-fire-tour {
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #DA3535;
}
.booking-fire-tour {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
    background: #8AD5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    margin-left: 70px;
}

/*Booking-page*/
.booking-tour {
    margin-top: 20px;
}
.booking-form {
    margin-top: 60px;
    border: 0.2px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 25px 50px;
}
.booking-form-info {
    margin-top: 60px;
    border: 0.2px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 25px 50px;
}
.option-policy {
    background: rgba(138, 213, 255, 0.5);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: #383838;
    margin-right: 25px;
}
.form1 {
    display: flex;
    align-items: center;
}
.form2 {
    display: flex;
    align-items: center;
}
.price-booking {
    margin-left:13%;
}
.option-input {
    background: rgba(138, 213, 255, 0.5);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    color: #383838;
    margin-right: 25px;
    height: 29px;
    width: 250px;
}
.duplicate {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.button-duplicate {
    width: 30px;
    height: 30px;
    background: #8AD5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 20px;
}
.booking-button {
    font-size: 18px;
    line-height: 29px;
    color: #383838;
    background: #8AD5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 11px 15px;
    border: none;
    outline: none;
    margin-left: 150px;
    margin-right: 50px;
}
#booking-finish {
    display: none;
}
#error {
    color:#DA3535;
    display: none;
}
#error-application {
    color:#DA3535;
    display: none;
}
#booking {
    display: none;
}